html{
    font-size:10px;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
    background:black;
    overflow-x:hidden;
}
h1,h2,h3,h4,p{
    color:white;
}
h1{
    font-size:13rem;
    width:fit-content;
    margin:15% auto 0% 3%;
}
h2{
    font-size:7rem;
    width:fit-content;
    margin-top:2%;
    margin-left:3%;
    margin-bottom:1%;
}
h3{
    font-size:6em;
    width:fit-content;
}
h4{
    font-size:3em;
    width:fit-content;
    margin-bottom:0%;
}
p{
    font-size:2rem;
    width:fit-content;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    font-weight:1000;
}

/* Nav */
nav{
    margin-left:3.5%;
}
#navclass{
    display:flex;
    justify-content:flex-start;
}
.nav-select{
    margin:0% 4% 0% 0%;
}
.nav-select>a>p{
    margin-top:0%;
    margin-bottom:0%;
}

/* Container */
#container{
    height:100%;
    width:100%;
    display:block;
}

/* Footer */
footer{
    width:94%;
    height:auto;
    margin:auto auto;
    display:block;
}
#contact-info, #social-media{
    display:flex;
    justify-content:flex-start;
}
.contact-select{
    width:fit-content;
    margin-right:15%;
}
.media-select{
    width:4vw;
    margin-right:2vw;
}

.linkedin, .github, .mail{
    width:100%;
    height:auto;
}

/* about */
#about-content{
    display:flex;
    justify-content:flex-end;
    float:left;
    margin:3%;
    margin-top:7%;
}
.about-img{
    width:40vw;
}
.eunice{
    width:100%;
    object-fit:cover;
    border-radius:7%;
}
.about-bio{
    margin-left:3%;
}
.about-bio>h4{
    width:35vw;
}

button{
    margin:5% 10% 5% 0%;
    background-color:black;
    border:2px solid white;
    color:white;
    padding:2% 2.5% 2% 2.5%;
    border-radius:20px;
    transition-duration:0.4s;
}
button:hover{
    background-color:white;
    color:black;
}

/* school */
#school-content{
    margin-left:3%;
}
#school-div{
    display:flex;
    justify-content:flex-start;
}
#coursework, #extracurriculars{
    width:22vw;
    height:auto;
    margin-right:15%;
}
ul, li{
    color:white;
    size:100%;
}
ul li::marker{
    font-size:3rem;
}