html{
    font-size:10px;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
    background:black;
    overflow-x:hidden;
}
h1,h2,h3,h4,p{
    color:white;
}
h1{
    font-size:13rem;
    width:fit-content;
    margin:15% auto 0% 3%;
}
h2{
    font-size:7rem;
    width:fit-content;
    margin-top:2%;
    margin-left:3%;
    margin-bottom:1%;
}
h3{
    font-size:6em;
    width:fit-content;
}
h4{
    font-size:3em;
    width:fit-content;
}
p{
    font-size:2rem;
    width:fit-content;
}
a{
    color:white;
    text-decoration:none;
}
#navclass>a:hover>p{
    font-weight:1000;
}

/* Nav */
nav{
    margin-left:3.5%;
}
#navclass{
    display:flex;
    justify-content:flex-start;
}
.nav-select{
    margin:0% 4% 0% 0%;
}
.nav-select>a>p{
    margin-top:0%;
    margin-bottom:0%;
}

/* Container */
#container{
    height:100%;
    width:100%;
    display:block;
}

/* Footer */
footer{
    width:94%;
    margin:auto auto;
    display:block;
}
