@media screen and (max-width:400px){
    html{
        font-size:5px;
    }
    body{
        width:100vw;
        height:100vh;
        margin:0;
        background:black;
        overflow-x:hidden;
    }
    h1,h2,h3,h4,p{
        color:white;
    }
    h1{
        font-size:15rem;
        margin:75% 5% 0% 5%;
    }
    h2{
        font-size:9rem;
        margin-top:5%;
        margin-left:5%;
        margin-bottom:5%;
    }
    h4{
        font-size:4rem;
    }
    p{
        font-size:4rem;
    }
    a{
        color:white;
        text-decoration:none;
    }
    a:hover>p{
        font-weight:1000;
    }
    /* nav */
    nav{
        margin-left:6%;
    }
    #navclass{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }
    .nav-select{
        margin:0% 0% 5% 0%;
    }
    /* about */
    #about-content{
        flex-direction:column;
        width:90%;
        margin:5% auto 0% auto;
        float:none;
    }
    .about-img{
        width:100%;
    }
    .about-bio{
        margin:5% 0% 0% 0%;
        width:100%;
    }
    #typedSpan{
        width:100%;
        font-size:6rem;
    }
    .resume{
        font-size:4rem;
        margin:5% 0% 0% 0%;
    }
    /* school */
    #school-content{
        flex-direction:column;
        width:90%;
    }
    #typedSchool{
        width:100%;
        font-size:10rem;
        margin:10% 0% 0% 5%;
    }
    #carousel{
        display:inline;
        width:100%;
        margin:5% auto 5% auto;
    }
    #coursework, #extracurriculars{
        width:100%;
        font-size:2rem;
    }
    #carousel>button{
        margin:3% auto 3% auto;
        border:none;
    }
    #carousel>button.slick-next{
        display:none;
    }

    /* Project */
    #carouselProj{
        width:100%;
    }
    #project1,#project2{
        width:50vw;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        padding:2% 3% 2% 3%;
    }
    #project1>a>img{
        width:100%;
        object-fit:scale-down;
        margin:3% auto 0% auto;
    }
    #project2>a>img{
        width:100%;
        object-fit:scale-down;
        margin:3% auto 0% auto;
    }
    .project-details{
        width:100%;
        position:relative;
        transform:translateX(-50%);
        margin:5% 0% 0% 0%;
    }
    .project-details>button{
        font-size:3rem;
    }
    /* footer */
    footer{
        margin-top:5%;
    }
    #contact-info{
        display:none;
    }
    .media-select{
        width:15vw;
        margin-top:5%;
    }
    #social-media>div>p{
        font-size:2rem;
        margin: 50% 0% 50% 0%;
    }

}