html{
    font-size:10px;
}
#vantajs{
    width: 100vw; 
    height: 100vh; 
    margin-bottom: 0%;
}
#overlay{
    background-color:black;
    opacity:0.5;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
    background:black;
    overflow-x:hidden;
    display:block;
}
h1,h2,h3,h4,p{
    color:white;
}
h1{
    font-size:13rem;
    font-family:'Prata', serif;
    width:fit-content;
    margin:15% auto 5% 3%;
}
h2{
    font-size:7rem;
    font-family:'Prata', serif;
    width:fit-content;
    margin-top:2%;
    margin-left:3%;
    margin-bottom:1%;
}
h3{
    font-size:6em;
    font-family:'Inter', sans-serif;
    width:fit-content;
    margin-bottom:0%;
}
#typedSpan{
    font-size:4em;
    color:white;
    font-family:'Inter', sans-serif;
    width:40vw;
    margin:auto 0% auto 0%;
}
h4{
    font-size:3em;
    font-family:'Inter', sans-serif;
    width:fit-content;
    margin-bottom:0%;
}
p{
    font-size:2rem;
    font-family:'Inter', sans-serif;
    width:fit-content;
    font-weight:300;
}
a{
    color:white;
    text-decoration:none;
}
a:hover>p{
    font-weight:1000;
}

/* Nav */
nav{
    margin-left:3.5%;
}
#navclass{
    display:flex;
    justify-content:flex-start;
}
.nav-select{
    margin:0% 4% 0% 0%;
}
.nav-select>a>p{
    margin-top:0%;
    margin-bottom:0%;
}

/* Container */
#container{
    width:100%;
    height:auto;
    display:block;
}

/* Footer */
footer{
    width:94%;
    height:fit-content;
    margin:auto auto;
    display:block;
}
hr{
    width:100%;
}
#contact-info, #social-media{
    display:flex;
    justify-content:flex-start;
}
.contact-select{
    width:fit-content;
    margin-right:15%;
}
.media-select{
    width:3vw;
    margin-right:2vw;
}

.linkedin, .github, .mail{
    width:100%;
    height:auto;
}

/* about */
#about-content{
    display:flex;
    justify-content:flex-end;
    float:left;
    margin:5% 0% 5% 3%;
}
.about-img{
    width:40vw;
    position:relative;
}
.about-bio{
    width:40vw;
    margin:0% 0% 0% 5%;
    display:flex;
    flex-direction:column;
    align-content:space-between;
}
/* .transition{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
} */
.resume{
    background-color:black;
    color:white;
    font-size:2rem;
    font-family:'Inter', sans-serif;
    padding:2% 4% 2% 4%;
    width:fit-content;
    margin:0% 0% 0% 0%;
    border-radius:35px;
    border: 2px solid white;
    /* position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: center;
}
.resume:hover{
    background-color:white;
    color:black;
}
.eunice{
    width:100%;
    border-radius:7%;
}
button{
    margin:5% 10% 5% 0%;
    background-color:black;
    border:2px solid white;
    color:white;
    padding:2% 2.5% 2% 2.5%;
    border-radius:20px;
    transition-duration:0.4s;
    text-align:center;
}
button:hover{
    background-color:white;
    color:black;
}
input[type=button]{
    font-family:'Inter', sans-serif;
}
/* school */
#school-content{
    margin-left:3%;
    display:flex;
    justify-content:flex-start;
}
#typedSchool{
    font-size:6em;
    color:white;
    font-family:'Inter', sans-serif;
    width:50vw;
    height:60vh;
    margin:10% 0% 0% 0%;
}
#carousel{
    width:40vw;
    margin:0% auto 0% auto;
    position: relative;
    overflow:hidden;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;
}
#carousel>button{
    margin:0% 2% 0% 2%;
    border:none;
}
#carousel>button:active{
    background-color:black;
}
#carousel.slick-track{
    width:fit-content;
}
#coursework, #extracurriculars{
    width:70%;
    height:auto;
    margin:0% 0% 0% 0%;
    padding:1% 3% 1% 3%;
    border:2px solid white;
    border-radius:30px;
}
#coursework.slick-slide.slick-current.slick-active{
    margin-right:0%;
}
ul, li{
    color:white;
    size:100%;
}
ul li::marker{
    font-size:3rem;
}
/* Projects */
#carouselProj{
    width:75vw;
    height:100%;
    margin:3% auto 0% auto;
    position: relative;
    overflow:hidden;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;
}
#carouselProj>button{
    margin:0% 2% 0% 2%;
    border:none;
}
#carouselProj>button:active{
    background-color:black;
}
#carouselProj.slick-track{
    width:fit-content;
}
#project1, #project2{
    width:100%;
    height:auto;
    margin:0% 0% 0% 0%;
    padding:1% 3% 1% 3%;
    border:2px solid white;
    background-color:black;
    border-radius:30px;
    display:flex;
    justify-content:flex-start;
}
#project1>img{
    width:60%;
    margin:0% 0% 0% 0%;
}
#project2>img{
    width:65%;
    margin:0% 0% 0% 0%;
}
.project-details{
    width:20vw;
    position:absolute;
    bottom:25%;
    left:60%;
}
.project-details>button{
    font-size:2rem;
}