html{
    font-size:10px;
}
#vantajs {
    width: 100vw; 
    height: 100vh; 
    margin-bottom: 0%;
  }
body{
    width:100vw;
    height:100vh;
    margin:0;
    background:black;
    overflow-x:hidden;
    display:block;
}
h1,h2,h3,h4,p{
    color:white;
}
h1{
    font-size:13rem;
    font-family:'Prata', serif;
    width:fit-content;
    margin:15% auto 5% 3%;
}
h2{
    font-size:7rem;
    font-family:'Prata', serif;
    width:fit-content;
    margin-top:2%;
    margin-left:3%;
    margin-bottom:1%;
}
h3{
    font-size:6em;
    font-family:'Inter', sans-serif;
    width:fit-content;
    margin-bottom:0%;
}
#typedAbout{
    font-size:6em;
    color:white;
    font-family:'Inter', sans-serif;
    width:40vw;
    margin:10% 10% 0% 0%;
}
#typedSpan{
    font-size:4em;
    color:white;
    font-family:'Inter', sans-serif;
    width:40vw;
    margin:auto 0% auto 5%;
}
h4{
    font-size:3em;
    font-family:'Inter', sans-serif;
    width:fit-content;
    margin-bottom:0%;
}
p{
    font-size:2rem;
    font-family:'Inter', sans-serif;
    width:fit-content;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    font-weight:1000;
}

/* Nav */
nav{
    margin-left:3.5%;
}
#navclass{
    display:flex;
    justify-content:flex-start;
}
.nav-select{
    margin:0% 4% 0% 0%;
}
.nav-select>a>p{
    margin-top:0%;
    margin-bottom:0%;
}

/* Container */
#container{
    width:100%;
    height:auto;
    display:block;
}

/* Footer */
footer{
    width:94%;
    height:auto;
    margin:auto auto;
    display:block;
}
hr{
    width:100%;
}
#contact-info, #social-media{
    display:flex;
    justify-content:flex-start;
}
.contact-select{
    width:fit-content;
    margin-right:15%;
}
.media-select{
    width:3vw;
    margin-right:2vw;
}

.linkedin, .github, .mail{
    width:100%;
    height:auto;
}

/* about */
#about-content{
    display:flex;
    justify-content:flex-end;
    float:left;
    margin:3%;
    margin-top:5%;
}
.about-img{
    width:40vw;
    position:relative;
}
.transition{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.resume{
    background-color:black;
    color:white;
    font-size:4rem;
    font-family:'Inter', sans-serif;
    padding:2% 4% 2% 4%;
    border-radius:35px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.about-img:hover .transition{
    opacity:1;
}
.eunice{
    width:100%;
    border-radius:7%;
}
.about-bio{
    margin-left:3%;
}

button{
    margin:5% 10% 5% 0%;
    background-color:black;
    border:2px solid white;
    color:white;
    padding:2% 2.5% 2% 2.5%;
    border-radius:20px;
    transition-duration:0.4s;
}
button:hover{
    background-color:white;
    color:black;
}
input[type=button]{
    font-family:'Inter', sans-serif;
}
/* school */
#school-content{
    margin-left:3%;
    display:flex;
    justify-content:flex-start;
}
#typedSchool{
    font-size:6em;
    color:white;
    font-family:'Inter', sans-serif;
    width:50vw;
    height:60vh;
    margin:10% 0% 0% 0%;
}
#board{
    width:fit-content;
    margin: auto auto;
    position: relative;
    overflow:hidden;
}
.card{
    width:20vw;
    height:70vh;
    position: absolute;
    top:25%;
    left:75%;
    border-radius:5%;
    border: 2px solid white;
    transform: translateX(50%) translateY(-50%);
    background-color:white;
}
#coursework, #extracurriculars{
    width:20vw;
    height:auto;
    margin:15% 0% 0% 0%;
}
ul, li{
    color:white;
    size:100%;
}
ul li::marker{
    font-size:3rem;
}


