@import "tailwindcss";
/* @import "tailwindcss" prefix(tw); */

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 210 0% 80%;

    --primary: 240 90% 40%;
    --primary-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    /* width: screen; */
    scrollbar-gutter: stable both-edges;
    scrollbar-width: none;

  }

  /* .dark {
    --background: 222 47% 4%;
    --foreground: 213 31% 91%;

    --card: 222 47% 8%;

    --primary: 250 65% 65%;
    --primary-foreground: 213 31% 91%;

    --border: 217 33% 20%;
  } */

  /* .cursor {
  background-color: #111;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: fixed;
  top: 0%;
  left: 0%;
  pointer-events: none;
  } */

  h1 {
    /* font-size: 19rem; */
    /* line-height: 0.6; */
    /* margin: 0 scrollbar-width 0 0; */
    /* display: flex; */
    /* align-items: flex-end; */
  }

  #landing {
    margin-left: 0.5rem;
  }

  * {
    @apply border-border;
    /* cursor: none !important; */
    font-family: "Work Sans", sans-serif;
  }

  html {
    @apply scroll-smooth;
    scroll-padding: var(--scroll-padding, 5rem);
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility container {
  /* margin-inline: auto; */
  /* padding-inline: 2rem; */

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1440px) {
    max-width: 1440px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* the marquee section */
/* based off from tutorial by Jeroen */
/* https://www.youtube.com/watch?v=uw5jVO1eNF8&t=27s&ab_channel=FrontendFYI%E2%80%93byJeroen */
.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-left: 4.8rem;
  gap: 4.8rem;
  width: max-content;
  height: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite var(
      --direction,
      forwards
    );
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}